<h3>My Pictures</h3>

<ul id='pics'>
	<li id='add'><p><%= link_to 'Add a Picture', :controller => 'pictures', :action => 'new' %></p></li>
<% @pictures.each do |picture| %>
  <li>
    <%= link_to image_tag(picture.link.gsub(/_n./, '_s.')), picture %></td><span class='badge'><%= picture.unredeemed_count %></span>
    <p><%= link_to 'Remove', picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </li>
<% end %>
</table>

</ul>
